body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 800;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.iphone,
.iphone2 {
    width: 260px;
    transform: rotate(25deg);
    border-radius: 25px;
    position: absolute;
    right: 25%;
}

.iphone2 {
    position: absolute;
    right: 10%;
    top: 18%;
}

#features {
    background-color: #fff;
    padding: 7% 15%;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

.icon1 {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon1:hover {
    color: #ff4c68;
}

/*  Testimonials  */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.Testimonials-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* pricing */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

.btn2 {
    width: 100%;
}

@media (max-width: 1028px) {

    .iphone,
    .iphone2 {
        width: 200px;
        position: static;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15% 4%;
}

.lastline {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

#footer {
    padding: 5% 5%;
    text-align: center;
}

.iconlast {
    margin: 20px 10px;
}
